
@{
    ViewBag.Title = "Alta de Clientes";
}
<link type="text/css" href="~/Content/StyleTable.css" rel="stylesheet" />
<h2 class="text-white"> Se borró el paquete exitosamente. </h2>
<div>
    @Html.ActionLink("Volver", "ListarPaq", "Home", null, new { @class = "btn btn-danger", @id = "botonAlta" })
</div>

